name: Terraform Module Releaser
on:
  pull_request:
    types: [opened, reopened, synchronize, closed] # Closed required
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Terraform Module Releaser
        uses: techpivot/terraform-module-releaser@test/checkout-v6-external-action
        id: release
        with:
          use-ssh-source-format: true

      - id: debug
        name: Debug
        run: |
          echo '${{ toJSON(steps.release.outputs) }}'
          echo ${{ steps.release.outputs.changed-module-names }}
          echo ${{ steps.release.outputs.changed-module-paths }}
          echo ${{ steps.release.outputs.changed-modules-map }}
          echo ${{ steps.release.outputs.all-module-names }}
          echo ${{ steps.release.outputs.all-module-paths }}
          echo ${{ steps.release.outputs.all-modules-map }}
